* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 {
    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #D0D0D0;
}

.container img {
    width: 100%;
}

.row > div {
    margin: 15px 0;
}

.loader{
	opacity: 0;
	background-color: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 9999;
	transition: opacity 2s linear;
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;

}

.loader img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.loading .loader{
	opacity: 1;
}